@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.main{
    border: 0;
    padding: 50px;
    font-family: "Unica One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.unoLogo{
    width: 100px;
    display: flex;
    justify-content: center;
    top: 50px;
}
.drawCards{
    width: 60px;
}


.playersHands{
    list-style-type: none;
}

.player{
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .player .playersCards{
        position: relative;
        top: 90px;

    }
  }

.player .playersCards{
    position: relative;
    right: 200px;
}


/* ---Player Two cards */
.playerTwo{
    position: absolute;
    left: 0;
    margin-left: 30px;
    top: 180px;
    /* transform: rotate(90deg); */
}
.playerTwo ul{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: auto;
    top: 10px;
    left: 35px;
    /* transform: rotate(90deg); */
}

/* Rotates each individual card to face head on */
.playerTwo ul li img{
    position: relative;
    transform: rotate(90deg);
}


/* ----------- */

.playerThree{
    position: absolute;
    right: 40px;
    bottom: 200px;
    /* transform: rotate(90deg); */
}
.playerThree ul{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 35px;
    overflow: auto;
}
.playerThree ul li img{
    position: relative;
    transform: rotate(90deg);
}


.playerfours{

        position: absolute;
bottom:600px;
        height:525px;
        width: 125px;
        transform: rotate(90deg);
        justify-content: center;
        font-family: "Unica One", sans-serif;
      font-weight: 400;
      font-style: normal;
}
.playerfours p{
    transform: rotate(270deg);
    position: relative;

}

.playerfours ul{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 25px;
}
.playerfours ul li img{
    position: relative;
    transform: rotate(90deg);
}
/* Styling the cardds and players deck */
.unoCard{
    width: 50px;
}

.decks{
    position: relative;
    top: 200px;
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
    color: #FFF;
    font-family: "Unica One", sans-serif;
}

.decks ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.decks ul li{
    margin-right: 25px;


}
.PlayercardBox{
    border: 2px solid rgba(255, 255, 255, 0.281);
    border-radius: 10px;
    height: 100px;
    width: 500px;
    overflow-y: hidden; /* Display vertical scrollbar when content overflows */
    overflow-x: scroll; 
    display: inline-block; /* Ensure it only takes up as much space as needed */
    justify-content: center;
    margin: 0 auto;
    font-family: "  Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.PlayercardBox ul {
    margin-left: 40px;
    margin-top: 10px;
}

.yourTurn p{
    font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.cardBox {
    
    border: 2px solid rgba(255, 255, 255, 0.281);
    border-radius: 10px;
    height: 500px;
    width: 150px;
    overflow-y: scroll; /* Display vertical scrollbar when content overflows */
    overflow-x: hidden; 
    display: inline-block; /* Ensure it only takes up as much space as needed */
  }
  
  .cardBox ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  .playerThrees{
    overflow-y: scroll; /* Display vertical scrollbar when content overflows */
    overflow-x: hidden; 
  }

@media (max-width: 600px) {
    .unoCard {
      width: 40px; /* Adjust card size for smaller screens */
    }
  }

.playersCards ul{
    display: flex;
    flex-direction: row;
}

.playersCards ul li{
    list-style-type: none;
}
.playersCards ul li img{
    padding: 10px;
}


.playersHands .player .playersCards ul li img:hover{
    position: relative;
   bottom: 10px;
}



   @keyframes selected {
    0% { transform: translateX(0); }
    25% { transform: translateX(5px); }
    50% { transform: translateX(-5px); }
    75% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }
  
  .selected {
    animation: selected 0.5s ease-in-out infinite; /* Adjust the duration and easing as needed */
  }
  

  .playAgain {
    background-color: pink;
    position: absolute;
    z-index: 999;
    width: 350px;
    height: 300px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}


  .playAgain p {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 50px;
  }

  .playAgain ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;
    justify-content: center;
  }

  .playAgain ul li{
   margin-right: 20px;
  }

  .playAgain button{
    width: 125px;
    height: 75px;
    padding: 20px;
    
  }

  .Tracey{
    position: relative;
    bottom: 50px;
    left: 0;
z-index: 999;
  }

