
.main{
    border: 0;
    padding: 50px;
  
    
}

.unoLogo{
    width: 100px;
    display: flex;
    justify-content: center;
    top: 50px;
}
.drawCards{
    width: 60px;
}


.playersHands{
    list-style-type: none;
}

.player{
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    .player .playersCards{
        position: relative;
        top: 90px;

    }
  }

.player .playersCards{
    position: relative;
    right: 200px;
}

.playerTwo p {
    position: relative;
    top: 150px;    
}
/* ---Player Two cards */
.playerTwo{
    position: absolute;
    left: 0;
    margin-left: 30px;
    top: 100px;
    transform: rotate(90deg);
}
.playerTwo ul{
    position: relative;
    transform: rotate(90deg);
}

/* Rotates each individual card to face head on */
.playerTwo ul li img{
    position: relative;
    transform: rotate(90deg);
}


/* ----------- */
.playerThree p {
    position: relative;
    transform: rotate(90deg);
    bottom: 300px;
    left: 50px;
}
.playerThree{
    position: absolute;
    right: 10px;
    transform: rotate(90deg);
}
.playerThree .playersCards ul{
    position: relative;
    top: 50px;
    transform: rotate(90deg);
}
.playerThree ul li img{
    position: relative;
    transform: rotate(90deg);
}

    /* -------- */
.playerFour p {
        position: relative;
        top: 150px;
    }
.playerFour{
    position: relative;
    bottom: 250px;
    transform: rotate(180deg);
}
.playerFour .playersCards ul{
    position: relative;
    transform: rotate(90deg);
}

.playerFour ul li img{
    position: relative;
    transform: rotate(90deg);
}


/* Styling the cardds and players deck */
.unoCard{
    width: 50px;
}
@media (max-width: 600px) {
    .unoCard {
      width: 40px; /* Adjust card size for smaller screens */
    }
  }

.playersCards ul{
    display: flex;
    flex-direction: row;
}

.playersCards ul li{
    list-style-type: none;
}
.playersCards ul li img{
    padding: 10px;
}


.playersHands .player .playersCards ul li img:hover{
    position: relative;
   bottom: 10px;
}